h1{
	text-align: center;
}
.parent{
	border-radius: 10px;
	padding: 10px;
	width: 250px;
	height: 50px;
	margin: auto;
	background-color: black;
	color: white;
	text-align: center;
}
.in{
	color: white !important;
	width: 30px !important;
	height: 50px !important;
	background-color: black !important;
	text-align: center !important;
	padding: 10px;
	margin: auto;

}
.display{
	background-color: white;
	height: 50px;
	width: 250px;
	border-radius: 10px;
	color: black;
	font-size: 30px;
}
#in{
	color: white;
	width: 30px;
	height: 50px;
	background-color: black;
	text-align: center;
	margin-top: 2px;

}

#equals{
	background-color: black;
	color: white;
	text-align: center;
	margin-top: 2px;
	width: 65px;
	height: 50px;
}
#clear{
	background-color: black;
	color: white;
	text-align: center;
	margin-top: 2px;
	width: 65px;
	height: 50px;
}
.buttons{
	padding: 10px !important;
	border-radius: 10px !important;
	width: 250px !important;
	height: 200px !important;
	margin-top: 20px !important;
	background-color: white !important;
	color: black !important;
	border-style: solid !important;
	text-align: center !important;
}